@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #9DDEF2;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #fff;
  padding: 0.5% 2%;
  background-color: #061BD7;
}

nav #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

nav #logo img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #000;
  border-radius: 100%;
}

nav #signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

nav #signup div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
}

nav #signup div input {
  cursor: pointer;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

#ide {
  padding: 2% 5%;
}

#ide h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 40px;
}

#ide h1 span {
  font-size: 20px;
}

#ide .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  margin-bottom: 40px;
}

#ide .list img {
  height: 90px;
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

#ide .list h3 {
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 2%;
}

#ide .list button {
  background-color: #061BD7;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.03em;
  font-size: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 5%;
  gap: 20%;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--mainColor)), to(var(--mainColor)));
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
  padding-bottom: 5px;
}

footer a:nth-last-child() {
  text-decoration: underline !important;
}

footer a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.carousel {
  padding: 1%;
}

.mySlides, .mySlides2 {
  display: none;
}

.mySlides img, .mySlides2 img {
  width: 100%;
  height: 70vh;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: #000;
  font-weight: bold;
  font-size: 70px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* Caption text */
#c1 .text {
  color: #000;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  padding: 5% 25%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  line-height: 1.5em;
}

#c2 {
  padding: 2% 5%;
}

#c2 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 40px;
}

#c2 h1 span {
  font-size: 20px;
}

#c2 img {
  -o-object-position: 0 58%;
     object-position: 0 58%;
}

#c2 button {
  background-color: #061BD7;
  color: white;
  font-size: 20px;
}

#c2 .text {
  color: #000;
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  line-height: 1.5em;
}

/* The dots/bullets/indicators */
.dot, .dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #333;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=styles.css.map */